body {
    display: grid;
    justify-content: center;
}

.header {
    text-align: center;
}

.main {
    text-align: center;
}

.main__text {
    text-align: justify;
    width: 750px;
}

.list__buttons {
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 15px;
    margin-bottom: 15px;
}

.list__array {
    text-align: center;
    list-style: none;
    margin-right: 40px;
}

.footer {
    text-align: center;
}
